<header class="header-6">
    <div class="branding">
      <a routerLink="" class="brand-logo">FundIt</a>
    </div>
    <div class="header-nav">
        <!-- <a routerLink="about" class="active nav-link nav-text">About</a> -->
        <a routerLink="project-list" class="nav-link nav-text">Project List</a>
    </div>
    <!-- Below can be used for admin -->
    <div class="header-actions">
        <a routerLink="admin" class="nav-link nav-text">
            Admin
        </a>
    </div>
</header>

<div>
  <router-outlet></router-outlet>
</div>
