<header class="header-6">
    <div class="branding">
      <a routherLink="" class="brand-logo">FundIt</a>
    </div>
    <div class="header-nav">
        <a routerLink="about" class="active nav-link nav-text">About</a>
        <a routerLink="project-list" class="nav-link nav-text">Project List</a>
    </div>
    <!-- Below can be used for admin -->
    <!-- <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div> -->
</header>

<div class="">
  <router-outlet></router-outlet>
</div>
